<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      lang="es"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="page-title">Personal Finances App - Bank Sync</title>
</head>
<body>
    <div class="container-fluid p-4 overflow-y-auto" layout:fragment="content">
        <form th:action="@{/bank-sync}" th:object="${bankSyncModelAttribute}" method="post" class="card">

            <div class="card-header" th:text="${'Sincronizar con banco Galicia'}"></div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <label class="form-label" for="accountId">Cuenta</label>
                        <select class="form-select form-select-sm" th:field="*{accountId}" id="accountId" th:classappend="${#fields.hasErrors('accountId') ? 'is-invalid' : ''}" required>
                            <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"/>
                        </select>
                        <div th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}" th:classappend="${#fields.hasErrors('accountId') ? 'invalid-feedback' : 'valid-feedback'}"></div>
                    </div>
                    <div class="col">
                        <label class="form-label" for="cookie">Cookie</label>
                        <input class="form-control form-control-sm" type="text" th:field="*{cookie}" id="cookie" th:classappend="${#fields.hasErrors('cookie') ? 'is-invalid' : ''}" required/>
                        <div th:if="${#fields.hasErrors('cookie')}" th:errors="*{cookie}" th:classappend="${#fields.hasErrors('cookie') ? 'invalid-feedback' : 'valid-feedback'}"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button type="submit" class="btn btn-success"><i class="bi bi-save me-2"></i>Sincronizar</button>
            </div>
        </form>

        <script>
            $('#cookie').on('focus', async function () {
                try {
                    const text = await navigator.clipboard.readText();
                    if (text.startsWith('R2D2=')) {
                        $(this).val(text);
                    }
                } catch (err) {
                    console.error('No se pudo acceder al portapapeles:', err);
                }
            });
        </script>
    </div>
</body>
</html>