<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      lang="es"
      layout:decorate="~{fragments/layout}">
<head>
    <title layout:fragment="page-title">Personal Finances App - Grupos de gastos</title>
</head>
<body>
    <div class="container-fluid p-4 overflow-y-auto" layout:fragment="content">
        <form action="#" th:action="@{/expensesGroups}" th:object="${expensesGroupSearch}" method="post">
            <div class="row g-3">
                <div class="col-9 col-lg-3 col-xxl-2">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="expensesGroupFilterName" name="filterExpensesGroupName" th:value="*{getName()}" placeholder="Nombre">
                        <label for="expensesGroupFilterName">Nombre</label>
                    </div>
                </div>
                <div class="col-3 col-lg text-end">
                    <button type="submit" class="btn btn-primary h-100"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-1">
                <h3>Listado de grupos de gastos</h3>
                <div class="d-flex flex-nowrap">
                    <div class="input-group input-group-sm me-3">
                        <input type="number" style="max-width:50px" min="1" max="999" class="form-control px-1 text-end" id="size" name="size" aria-label="Registros por p&aacute;gina" th:value="${expensesGroupsPage.size}">
                        <span class="input-group-text" th:text="${'/ ' + expensesGroupsPage.totalElements}"></span>
                    </div>
                    <button id="btnOpenModal" type="button" data-bs-toggle="modal" data-bs-target="#createOrUpdateExpensesGroupModal" class="btn btn-sm btn-success text-nowrap"><i class="bi bi-plus me-2"></i>Nuevo registro</button>
                </div>
            </div>
            <table class="table table-sm table-bordered table-striped">
                <thead class="text-center">
                <tr>
                    <th>Nombre</th>
                    <th>Descripci&oacute;n</th>
                    <th colspan="3">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(expensesGroupsPage.content)}">
                    <td colspan="5">No se encontr&oacute; ningun grupo registrado!</td>
                </tr>
                <tr th:unless="${#lists.isEmpty(expensesGroupsPage.content)}" th:each="expensesGroup : ${expensesGroupsPage.content}">
                    <td class="text-start" th:text="${expensesGroup.name}"></td>
                    <td class="text-start" th:text="${expensesGroup.description}"></td>
                    <td class="text-center" style="width:35px"><a th:href="@{/expensesGroups/edit(expensesGroupIdToEdit=${expensesGroup.id},backUrl=${backUrl})}" class="btn btn-link p-0"><i class="bi bi-pencil-square"></i></a></td>
                    <td class="text-center" style="width:35px"><a th:href="@{/expensesGroups/delete/{id}(id=${expensesGroup.id})}" class="btn btn-link p-0"><i class="bi bi-trash text-danger"></i></a></td>
                </tr>
                </tbody>
            </table>

            <nav th:if="${expensesGroupsPage.totalPages > 1}">
                <ul class="pagination pagination-sm justify-content-center">
                    <th:block th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item" th:if="${pageNumber == 1}">
                            <button name="page" class="page-link" th:classappend="${expensesGroupsPage.number == 0 ? ' disabled' : ''}" th:value="${pageNumber}" aria-label="Previous"><i class="bi bi-chevron-double-left"></i></button>
                        </li>
                        <li class="page-item" th:if="${pageNumber == 1}">
                            <button name="page" class="page-link" th:classappend="${expensesGroupsPage.number == 0 ? ' disabled' : ''}" th:value="${expensesGroupsPage.number}" aria-label="Previous"><i class="bi bi-chevron-left"></i></button>
                        </li>
                        <li class="page-item" th:classappend="${pageNumber==expensesGroupsPage.number + 1 ? ' active' : ''}">
                            <span th:if="${pageNumber == expensesGroupsPage.number - 10 or pageNumber == expensesGroupsPage.number + 12}" th:class="page-link" th:text="..."></span>
                            <button name="page" th:if="${pageNumber > expensesGroupsPage.number - 10 and pageNumber < expensesGroupsPage.number + 12}" th:value="${pageNumber}" th:text="${pageNumber}" th:class="page-link"></button>
                        </li>
                        <li class="page-item" th:if="${pageNumber == expensesGroupsPage.totalPages}">
                            <button name="page" class="page-link" th:classappend="${expensesGroupsPage.number == expensesGroupsPage.totalPages - 1 ? ' disabled' : ''}" th:value="${expensesGroupsPage.number + 2}" aria-label="Previous"><i class="bi bi-chevron-right"></i></button>
                        </li>
                        <li class="page-item" th:if="${pageNumber == expensesGroupsPage.totalPages}">
                            <button name="page" class="page-link" th:classappend="${expensesGroupsPage.number == expensesGroupsPage.totalPages - 1 ? ' disabled' : ''}" th:value="${pageNumber}" aria-label="Previous"><i class="bi bi-chevron-double-right"></i></button>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </form>

        <div class="modal fade" id="createOrUpdateExpensesGroupModal" tabindex="-1" aria-labelledby="createOrUpdateExpensesGroupModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" th:with="actionUrl=(${expensesGroupIdToEdit != null and expensesGroupIdToEdit.present} ? '/expensesGroups/update/' + ${expensesGroupIdToEdit.get()} : '/expensesGroups/add')" th:action="@{${actionUrl}}" th:object="${expensesGroup}" method="post">
                        <input type="hidden" th:field="*{creationUser}"/>
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="createOrUpdateExpensesGroupModalLabel" th:text="${expenseIdToEdit != null ? 'Editando grupo' : 'Nuevo grupo'}"></h1>
                        </div>
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label" for="description">Nombre</label>
                                    <input class="form-control form-control-sm" type="text" th:field="*{name}" id="name" required/>
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label" for="description">Descripci&oacute;n</label>
                                    <input class="form-control form-control-sm" type="text" th:field="*{description}" id="description"/>
                                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button th:if="${expensesGroupIdToEdit == null}" type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-lg me-2"></i>Cancelar</button>
                            <a th:unless="${expensesGroupIdToEdit == null}" class="btn btn-danger" th:href="@{/expensesGroups}"><i class="bi bi-x-lg me-2"></i>Cancelar</a>
                            <button type="submit" class="btn btn-success"><i class="bi bi-save me-2"></i>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:if="${expensesGroupIdToEdit != null}">$("#btnOpenModal").click()</script>
    </div>
</body>
</html>