.custom-popover {
    --bs-popover-border-color: var(--bs-dark);
    --bs-popover-header-bg: var(--bs-dark);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.account-card {
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.account-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.filterable {
    position: relative;
}

.filter-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    font-size: 0.8rem;
}

.filterable:hover .filter-icon {
    opacity: 1;
}

.editing-row .filter-icon {
    display: none !important;
}

/* Replico la clase table-striped porque ahora dibujo N <tbody> con un solo <tr> dentro y no le aplica la clase de bootstrap*/
.expense-group:nth-of-type(odd) tr {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}